<section class="container_home">
    <div>
        <h1 class="title_tatati">TATETI ONLINE</h1>
    </div>
    <div>
        <form action="" method="post"></form>
    </div>
    <div class="mb-3">
        <a class="button-85" href="/game">conect!</a>
    </div>
    <div class="">
        <!-- Button trigger modal -->
        <a type="button" class="" data-bs-toggle="modal" data-bs-target="#exampleModal">
        info and rules
        </a>
        <!-- Modal -->
        <div class="modal fade effect_blur" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">History</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-dialog modal-dialog-scrollable container_modalBody">
                        <h3 class="text_origen">
                            Cerito cruz (in Cuba), michi (in Peru), triqui (in Colombia),
                            The three in a row, also known as zeros and crosses, three in a row (Spain, Mexico, Ecuador and Bolivia),
                            squares, cat game, gato (in Chile, Costa Rica and Mexico), tatetí (in Argentina, Paraguay and Uruguay), 
                            totito (in Guatemala), triqui traka, x zero, or la vieja (in Venezuela).
                        </h3>
                        <h4 class="text_two">
                            It doesn't take long for players to discover that the perfect game ends in a tie no matter what the first player plays.
                            It is usually young children who play tic tac toe: once they have discovered an unbeatable strategy, they move on to more sophisticated games, such as dots and boxes.
                            Optimal strategy for player X. The red X marks the optimal move to make. Start with the top left box. In the next step, the square where player O has marked is examined, which presents a new optimal move and so on.​
                        </h4>
                        <h2 class="title_rules">Rules</h2>
                        <h4 class="text_Rules">
                            Each player must only place their symbol once per turn and it must not be on an already played square. In case the player cheats, the winner will be the other.
                            One straight or diagonal line must be achieved per symbol.
                        </h4>
                    </div>
                            <div class="modal-footer">
                                <button type="button" data-bs-dismiss="modal" class="button-89">⭕K</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</section>
