<section class="container">
            <div class="col-md-5 center-block text-center">
                <h1 class="text-center">Ta-Te-Ti</h1>
            </div>
            <div id="tateti" class="row">

            </div>
</section>


    <!-- Scripts -->
<script src="/static/main.js"></script>